<div class="blog-content-left-i margin-bottom-30">
  <h1 class="blog-content-left-i-title padding-bottom-20 title">
   <%= link_to post.title, post %>
  </h1>
  <div class="date padding-bottom-20"><%= I18n.l post.created_at, format: '%d %B, %Y' %></div>
  <div class="line padding-bottom-30"></div>
  <div class="post-photo margin-bottom-30">
    <%= image_tag post.image %>
  </div>
  <div class="text margin-bottom-30">
    <%= sanitize(truncate_html(post.content, length: 430), tags: %w(br ul li p)) %>
  </div>
  <div class="line padding-bottom-30"></div>
  <%= link_to 'Показать полностью', post, class: 'link-more' %>
  <div class="clear"></div>
</div> 
 