<div class="wrapper">
  <div class="title"><%= @post.title %></div>
  <div class="content"><%= @post.content.html_safe %></div>
  <div class="image"><%= image_tag @post.image %></div>
  <div class="created_at"><%= I18n.l @post.created_at, format: '%B %d, %Y' %></div>
  <div class="updated_at"><%= I18n.l @post.updated_at, format: '%B %d, %Y' %></div>

</div>
<%= render 'layouts/right_block',
  galeries: @galeries,
  posts: @posts,
  note: @note,
  quote: @quote %>