<div class="blog-content-right">
  <div class="blog-content-right-i-portfolio margin-bottom-30">
    <%= render 'logo/link', logo: @logo %>
  </div>

  <div class="blog-content-right-i-category margin-bottom-30">
    <%= render 'galleries/ul', galleries: galleries %>
  </div>

  <div class="blog-content-right-i-instagramm margin-bottom-30">
    <div class="instagramm_small_photo float-left"></div>
    <div class="instagramm_nick float-left margin-left-10">magni_ficat</div>
    <div class="instagramm_more float-right">Просмотреть профиль</div>
    <div class="instagramm_big_photo margin-top-70"></div>
  </div>

  <div class="blog-content-right-i-collections margin-bottom-30">
    <%= render 'posts/menu/list', posts: posts %>
  </div>
  
  <div class="blog-content-right-i-opens  margin-bottom-30">
    <%= render 'notes/menu/item', note: note %>
  </div>  

  <div class="blog-content-right-i-video margin-bottom-30">
    <%= render 'quotes/menu/item', quote: quote %>
  </div>

</div>
